#map {
  width: 100vw;
  height: 100vh;
}

.search-test-results {
  /* margin: auto; */
  margin-top: 1rem;
  /* width: 80%; */
  text-align: center;
}

#title {
  margin: auto;
  margin-top: 1rem;
  width: 80%;
  text-align: center;
}

.search-form {
  /* margin: auto; */
  margin-top: 1rem;
  text-align: center;
  /* width: 80%; */
}
